.content-container {
  width: 100%;

  .search-wrapper {
    width: 80%;
  }

  .action-wrapper {
    width: 20%;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .result-container {
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    padding: 200px 0 20px 0;
    max-height: calc(100vh - 200px);
  }
}
